models/
data/vqa-rad/
data/medtrinity-25m/
data/vqa_rad_full
.ipynb_checkpoints/
data/vqa-rad-cache
data/
checkpoints/
src/diffusion_pretrain_rtx6k.sbatch
src/logs/
src/__pycache__/
src/projection_align_rtx6k.sbatch